{
  "presets": [
    "latest"
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": true,
      "polyfill": true,
      "regenerator": true
    }],
    "lodash"
  ],
  "comments": false,
  "parserOpts": {
    "startLine": 2
  }
}
